.container-footer-score {
    background-color: #563FDA;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.square-footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
}

.score-gameplay {
    width: 18vw;
    height: 6vh;
    margin-left: 200px;
    margin-top: 2vh;
    border: 4px solid #FAEE20;
    background-color: #DF2A2B;
    align-content: center;
    border-radius: 10px;
    position: absolute;
    right: 70px;
}

.score-gameplay h2 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.time-gameplay {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 8vh;
    margin-top: 1vh;
    border: 4px solid #FAEE20;
    background-color: #DF2A2B;
    align-content: center;
    border-radius: 10px;
    justify-content: center;
    position: absolute;
    left: 560px;
}

.time-gameplay h2 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 600;
    align-self: center;
}

.icon-time-gameplay {
    font-size: 1.5rem;
    color: #FAEE20;
}

.icon-playpause {
    font-size: 3rem;
    color: #DF2A2B;
    border: 1px solid #FAEE20;
    border-radius: 10px 20px 20px 10px;
}

.icon-playpause:hover {
    color: #df2a2ab6;
}

.btn-playpause-game-play {
    position: absolute;
    left: 300px;
    top: 1.6vh;
}

.btn-playpause-game-play button {
    border: none;
    background-color: #FAEE20;
    cursor: pointer;
    border-radius: 10px 20px 20px 10px;
    width: 50px;
}

.btn-newgame-game-play {
    position: absolute;
    left: 400px;
    top: 1.6vh;
}

.btn-newgame-game-play button {
    border: none;
    background-color: #FAEE20;
    cursor: pointer;
    border-radius: 10px 20px 20px 10px;
    width: 50px;
}

.icon-newgame {
    font-size: 3rem;
    color: #DF2A2B;
    border: 1px solid #FAEE20;
    border-radius: 10px 20px 20px 10px;
}

.icon-newgame:hover {
    color: #df2a2ab6;
}