.container-nav-title {
    width: 100vw;
    height: 12vh;
}

.title-memory-game {
    display: flex;
    flex-direction: row;
    height: 12vh;
    background-color: rgba(33, 2, 206, 0.76);
}

.title-text {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 17px;
    justify-content: center;
    align-self: center;
    padding: 10px;
    margin-top: 20px;
}

.title-text h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 2px black;
}

.title-text h3 {
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 2px black;
}

.title-text img {
    width: 60px;
    height: 60px;
}

.img-title-left {

}

.img-title-rigth {
    
}