.container-gameplay {
    width: 100vw;
    height: 78vh;
    background-color: black;
    align-content: center;
    justify-items: center;
}
/*****************************************/
.square-cards {
    max-width: 1040px;
    max-height: 74vh;
    background-color: #98E8FA;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square-cards img {
    width: 95px;
    height: 110px;
    background-color: white;
    border-bottom: 3.5px solid black;
    border-right: 2.5px solid black;
    border-radius: 10px;
}

.footer-score {
    justify-items: center;
}
/*******************CARDS*********************/
.group-card {
    position: relative;
    width: 95px;
    height: 110px;
    margin: 10px;
}

.card-gameplay1 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay2 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay3 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay4 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay5 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay6 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay7 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay8 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay9 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay10 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay11 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay12 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay13 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay14 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay15 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay16 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay17 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay18 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay19 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay20 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay21 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay22 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay23 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay24 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay25 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay26 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay27 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay28 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay29 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay30 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay31 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay32 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay33 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay34 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay35 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-gameplay36 {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

/********************************************************/

/*.group-card:hover .card-gameplay {
    transform: rotateY(180deg);
}*/

.activedFlip {
    transform: rotateY(180deg);
}

.desactivedFlip {
    transform: rotateY(0deg);
}

.front-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 3.5px solid black;
    border-right: 2.5px solid black;
    border-radius: 10px;

    backface-visibility: hidden;
    background-color: red;
    color: black;
}

.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 3.5px solid black;
    border-right: 2.5px solid black;
    border-radius: 10px;

    backface-visibility: hidden;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}